*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header{
    background:#f4f4f4;
    padding: 1rem;
    text-align: center;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

#clock-window{
    display: block;
    text-align: center;
    background:#f4f4f4;
    margin-top: 25vh;
    height: 25vh;
    width: 25vw;
    border-radius: 0.5em;
}