*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
}
#nav{
    background: rgb(33, 37, 43);
}


.dark-theme{
    background: rgb(40, 44, 52);
}
.light-theme{
    background:white;
}

#nav{
    display: flex;
    justify-content: center;
    position: relative;
    
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

#clock-window{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f4f4f4;
    margin-top: 25vh;
    height: 25vh;
    width: 25vw;
    border-radius: 0.5em;
}
#text{
    width: 50%;
    text-align: center;
}

#dark-mode-toggle{
    height: 100%;
    position:absolute;
    right: 0;
    top: 0;
    padding: .5vh;
    float:right;
    /* border: .1rem solid rgb(40, 42, 46) ;
    border-radius: .5rem; */
}

#clock-header{
    color: #f4f4f4;
}

